.homeContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: 1em;
  .skipButton {
    position: absolute;
    right: 0;
    top: 0;
  }

  .initialHookContainer {
    position: relative;
  }

  .myInfoContainer {
    display: flex;
    flex-direction: column;

    .buttonContainer {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
    }
  }
}

@media (min-width: 768px) {
  .homeContainer {
    .myInfoContainer {
      flex-direction: row;
      align-items: center;
    }
  }
}
