.aboutSection {
  display: flex;
  align-items: center;
  justify-content: center;

  .text {
    max-width: 60%;
  }

  .imgContainer {
    display: flex;
  }

  .aboutImg {
    width: 6em;
    height: 6em;
  }
}

@media (max-width: 768px) {
  .aboutSection {
    flex-direction: column;
    justify-content: center;
  }
}
