.modal {
  p {
    color: black;
  }
  .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(49, 49, 49, 0.8);
  }
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: .6em 1.2em;
  border-radius: 5px;
  width: 70vw;
  height: fit-content;

  .closeModal {
    position: absolute;
    top: .4rem;
    right: .4rem;
    padding: .4rem .5rem;
  }
}

