.tableOfContents {
  border: 2px dashed black;
  width: 10.5em;
  margin-top: .8em;
  position: relative;

  h2 {
    text-align: center;
  }

  .contents {
    list-style: square;
    display: flex;
    flex-direction: column;
    gap: .1em;
  }

  .tableContent {
    color: black;
    font-size: 1.3em;
    text-decoration: underline;
    scroll-behavior: smooth;
    &:hover {
        color: blue;
      }
  }
  
}

@media (min-width: 1205px) { //bad practice?
  .tableOfContents {
    position: fixed;
    top: 5em;
    right: 1em;
  }
}
