.container {
  text-align: center;
  color: black;
  .feedbackForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
    border: 5px solid black;

    input {
      border-radius: 1em;
      text-align: center;
    }
    .required::after {
      content: '*';
      color: red;
    }
    
    textarea {
      min-width: 14em;
      max-width: 20em;
      min-height: 8em;
      max-height: 14em;
    }

    .formActions{
      display: flex;
      gap: .5em;
      
    }
  }
}

.apiResponse {
  padding: 0.5em 0;
}

@media (max-width: 768px) {
  .container {

    .feedbackForm {
      textarea {
        min-width: 12em;
        max-width: 17em;
      }
      input{
        width:12em;
      }
    }
  }
}
